.board {
  font-family: monospace;
}

.cell {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border-style: dotted;

  &:hover {
    background-color: #faf;
  }
}

input.cell {
  width: 40px;
}
